.products {
  position: relative;
  left: 30px;
  rigth: 30px;
  top: 30px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.productCard {
  display: flex;
  flex-direction: column;
  gap: -3px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
  width: 200px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  justify-content: center;
  cursor: pointer;
}

.price {
  font-size: 16px;
}

.desc {
  color: #5c5470;
}

.image {
  width: 100%; /* Ensures image spans the card's width */
  height: 180px; /* Fixed height for all images */
  object-fit: cover; /* Ensures images fill the area without distortion */
  border-radius: 2px;
}
